{% load i18n %}
<form id="new" enctype="multipart/form-data" method="post" action="{% url 'create' %}">{% csrf_token %}
{{ form.as_p }}
<div align="center" id="prog" style="display: none"> 
{% include 'prg.html' %}
<p>Just a joke.</p>
</div>
{% if user and not user.is_anonymous %}
<button id="qrsubmit" class="expand radius success" type="button" onclick="makeqr()">{% trans "Create!" %}</button>
{% else %}
<a class="button alert round large-12" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'home' %}">{% trans "Login with Google To Continue"%}</a>
{% endif %}
</form>


