{% load i18n %}
<table class="large-12 medium-12 columns">
 	<thead>
 	  <tr>
 	  	<th>{% trans "User" %}</th>
 	  	<th>{% trans "Content" %}</th>
 	  	<th>{% trans "Operation" %}</th>

 	  </tr>
 	</thead>
 	<tbody>
 		{% for item in items %}
 	  <tr id="tr{{item.id}}">
 	  	
 	  	<td><a class="listall" href="{% url 'listhis' item.owner.id %}" ><img  style="height: 30px" src="{{ item.owner.profile.image }}" /></a></td>
 	  	<td><a class="detail" href="{% url 'detail' item.id %}"  onclick="detail()">{{ item.input|slice:":10" }}</a></td>
 	  	{% ifequal item.owner user %}
 	    <td>
 	    	<ul class="stack button-group">
 	    		
 	    		{% if item.shown %}
  				<li id="hide{{item.id}}" style="display: block"><a href="{% url 'hide' item.id %}" class="warning round label hide" style="width: 46px">Hide</a></li>
  				<li id="show{{item.id}}" style="display: none"><a href="{% url 'show' item.id %}" class="success round label show" style="width: 46px">Show</a></li>
  				{% else %}
  				<li id="show{{item.id}}" style="display: block"><a href="{% url 'show' item.id %}" class="success round label show" style="width: 46px">Show</a></li>
  				<li id="hide{{item.id}}" style="display: none"><a href="{% url 'hide' item.id %}" class="warning round label hide" style="width: 46px">Hide</a></li>
  				{% endif %}
 				<li><a href="{% url 'delete' item.id %}" class="alert round label delete" style="width: 46px">Delete</a></li>
 			</ul>
  		</td>	
  		{% endifequal %}
 	  </tr>
 	  {% endfor %} 
 	</tbody>    
  </table>