<div class="pagination">
    <span class="step-links" id="step">
        {% if items.has_previous %}
            <a class="prev" href="{% url 'listhis' user.id %}?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a class="next" href="{% url 'listhis' user.id %}?page={{ items.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> 